{% extends "blog/base.html" %}

{% block title %}{{ article.titre }}{% endblock %}

{% block content %}

	<p>
		<a href="{% url 'accueil' %}">Retour à la liste des articles</a>
	</p>

	<h2 class="titre-article">{{ article.titre }}</h2>
	<p class="infos-article">Par {{ article.auteur }}, le {{ article.date }}</p>

	<div class="contenu-article">
		{{ article.contenu|safe }}
	</div>

	<h3 class="titre-comments">Commentaires</h3>

	<h4>Poster votre propre commentaire</h4>
	<form  method="post" class="pure-form">
		<!-- A vous de remplir le formulaire également -->
		{% csrf_token %}
		{{ form.as_p }}
		<p style="text-align:center">
			<input class="pure-button pure-button-primary" type="submit" />
		</p>
	</form>
	<div class="clear"></div>

	{% for commentaire in commentaires %}
		<div class="commentaire">
			<p class="infos-comment">Par {{ commentaire.pseudo }}, le {{ commentaire.date }}</p>
			<p class="contenu-commen">{{ commentaire.contenu|safe }}</p>
		</div>
	{% empty %}
		<p>Aucun article.</p>
	{% endfor %}


{% endblock %}